USE [IWMS_DB]
GO
/****** Object:  Table [dbo].[User_Registration]    Script Date: 5/12/2026 7:37:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Registration](
	[FullName] [varchar](50) NOT NULL,
	[UserName] [varchar](10) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Address] [varchar](250) NOT NULL,
	[DOB] [date] NOT NULL,
	[Gender] [varchar](30) NOT NULL,
	[Role] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[User_Registration] ([FullName], [UserName], [Password], [Email], [Phone], [Address], [DOB], [Gender], [Role]) VALUES (N'Shahriar Ali Siam', N'simba', N'simba', N'simba@gmail.com', N'+88 01629054073', N'House-30, Road-15, Rupnagar R/A, Mirpur, Dhaka-1216', CAST(N'2002-04-03' AS Date), N'Male', N'Admin')
INSERT [dbo].[User_Registration] ([FullName], [UserName], [Password], [Email], [Phone], [Address], [DOB], [Gender], [Role]) VALUES (N'Erona Reza', N'zeroTwo', N'0202', N'erona@gmail.com', N'+88 01629054073', N'House-30, Road-15, Rupnagar R/A, Mirpur, Dhaka-1216', CAST(N'2002-04-03' AS Date), N'Female', N'Staff')
INSERT [dbo].[User_Registration] ([FullName], [UserName], [Password], [Email], [Phone], [Address], [DOB], [Gender], [Role]) VALUES (N'adada', N'adad', N'adada', N'adada', N'+88 42342354345', N'adasdasd', CAST(N'2026-04-27' AS Date), N'Male', N'Admin')
GO
